h1{
    color: rgb(241, 44, 44);
    background-color: rgb(150, 150, 243);
    border: 4px solid rgb(252, 167, 167);
}
h2{
    color: rgb(35, 163, 9);
    background-color: rgb(250, 188, 188);
}
h3{
    color: #7FFF00;
    background-color: #fabaa3;
}

button{
    width: 180px;
    height: 40px;
    border: none;
    background-color: #f3f8ee;
    font-size: 20px;
    font-weight:900;
}

button:hover{
    background-color: rgb(236, 159, 65);
    border-radius: 40px;
}

marquee{
    color: rgb(235, 24, 59);
    background-color: rgb(208, 247, 234);
    padding: 10px;
    font-size: 20px;
    transition: 1s;
}

marquee:active{
    color: rgb(238, 84, 123);
    background-color: rgb(154, 144, 245);
    padding: 40px;
    transition: 1s;
}

